@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
*{
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: inherit;
}
html{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url('../images/funky-lines.png') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
::selection {
  background-color: #9e9e9e;
  color: #1b1b1b;
}
.custom-shape-divider-top-1612373222 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1612373222 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}
.custom-shape-divider-top-1612373222 .shape-fill {
  fill: #FFFFFF;
}
.custom-shape-divider-top-1612373461 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1612373461 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-top-1612373461 .shape-fill {
  fill: #E9E9E9;
}
.custom-shape-divider-bottom-1612374308 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612374308 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-bottom-1612374308 .shape-fill {
  fill: #2D2D2D;
}
/* ====== LOADER PAGE ====== */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* <<<<<< LOADER PAGE END >>>>>>*/

/* ====== NAV ====== */

.nav {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    z-index: 6;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: bold;
    font-size: 22px;
}
.navbar-brand{
  font-size: 31px !important;
  color: #213047  !important;
  text-shadow: 3px 3px rgba(49, 49, 49, 0.383);
}
.nav-link{
  color: #414141 !important;
  text-shadow: 2px 2px 2px rgb(170, 170, 170);
  padding-bottom: 0px !important;
  position: relative;
}
.affix {
    padding: 0;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
}
.affix .nav-link{
  color: #414141 !important;
}
.navbar-nav .active{
  color: #d9534f !important;
}
.nav-link:after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(53, 53, 53);
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}
.nav-link:hover:after{
  width: 100%;
  left: 0;
  background: rgb(53, 53, 53);
}
/* <<<<<< NAV END >>>>>> */

/* ====== START SECTION ====== */


#backgroundImage {
  height: 100vh;
  display: flex;
}
#backgroundImage .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
}
#backgroundImage .title span {
  display: inline-block;
  font-size: 3.5rem;
  color: #414141;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  animation-delay: 2s;
  font-weight: 600;
  letter-spacing: 0.25vw;
}
#backgroundImage .title span:last-child {
  font-size: 1rem;
  font-weight: bold;
  animation: byBottom 1s 0.25s ease both;
  animation-delay: 2s;
}
#backgroundImage .title span a {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #f7ca18;
}
#backgroundImage .title span a::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
  animation-delay: 3s;
}

/* <<<<<< START SECTION END >>>>>> */

/* ====== ABOUT ME ====== */
.row{
  padding-right: 0 !important;
}
#about-section{
  background-color: #FFF;
  color: #0b0b0b;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
}
#about-section .title, #roadmap-section .title,
#skillset-section .title, #contact-section .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
#about-section .content{
  text-align: justify;
}
#about-section .pic-me{
  max-width: 250px;
  border-radius: 40%;
  margin-left: 20px;
  /*box-shadow: 14px 4px 5px rgba(0, 0, 0, 0.1);*/
}
.title > i{
  font-size: 20px;
}
#project-section{
  margin-top: 20px;
}
#project-section .title{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  margin-bottom: 0px;
}
#carouselExampleControls{
  margin-top: 20px;
}
.carousel-buttons{
  display: flex;
  justify-content: flex-start;
}
.card{
  border: 1px solid #2e6da4 !important;
}
.card-body{
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card-title{
  text-align: center;
}
.card{
  width: 80%;
}
.card img{
  opacity: 0.8;
}

/* <<<<<< ABOUT ME END >>>>>> */

/* ====== ROADMAP ====== */

#roadmap-section{
  padding-top: 100px;
  background-color: rgb(233, 233, 233);
  position: relative;
}
.roadmap-description{
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-bottom: 0px !important;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid rgb(233, 233, 233);
  border-right: 0 solid rgb(233, 233, 233);
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 5;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/* <<<<<< ROADMAP END >>>>>> */

/* ====== SKILLSET ====== */
#skillset-section{
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
  position: relative;
}
.Count:after{
  content:"%";
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* <<<<<< SKILLSET END >>>>>> */

/* ====== CONTACT ME ====== */

#contact-section{
  background-color: rgb(45, 45, 45);
  color: #ccc;
}
#contact-section .row:last-child{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.bi-envelope-fill{
  font-size: 1.3rem !important;
}
.contact-title{
  font-size: 1.2rem !important;
  font-weight: bold;
}
.contact-icons{
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-icons a{
  text-decoration: none;
  color: #ececec;
  font-size: 1.3rem;
  padding-right: 20px;
  transition: all 0.5s ease;
}
.contact-col{
  border-right: 1px solid rgb(149, 149, 149);
}
.contact-col:last-child{
  border-right: 0px;
}
.mailto{
  color: #ccc;
  transition: all 0.5s ease;
}
.copy{
  width: 100%;
  display: flex;
  background-color: rgb(34, 34, 34);
  justify-content: flex-end;
  color: #fff;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* <<<<<< CONTACT END >>>>>> */

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
  display: none;
}
.svg-separator{
  height: 60px;
  width: 100%;
  z-index: 5;
}
.svg-separator-especial{
  background-color: #fff;
  height: 60px;
  width: 100%;
  z-index: 5;
}
.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
    animation-delay: -2s;
}

/* ====== MEDIA QUERIES ====== */

@media screen and (max-width:1024px){
  .pic-me{
    width: 100%;
    margin-left: 0px !important;
  }
  #project-section{
    margin-top: 30px;
  }
}


@media screen and (max-width:768px) {
  .nav{
    background-color: rgb(223, 223, 223);
  }
  .nav-link::after{
    display: none;
  }
  #backgroundImage .title{
    margin-bottom: 20px;
  }
  .content{
    text-align: left;
  }
  .pic-container{
    display: flex;
    justify-content: center;
  }
  .pic-me{
    margin-top: 20px !important;
    margin-bottom: 30px;
  }
  #project-section .title{
    justify-content: center;
  }
  #project-section .col-md-12{
    text-align: center;
  }
  .card{
    width: 60%;
  }
  .carousel-buttons{
    justify-content: center;
  }
  .timeline > li > .timeline-panel{
    width: 76%;
  }
  .timeline > li > .timeline-badge{
    left: 85%;
  }
  .timeline:before{
    left: 85%;
  }
  .contact-col{
    border-right:0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }
  .contact-col:after{
    content:"";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    border-bottom: 1px solid #E9E9E9;
  }
  .contact-col:nth-child(2):after{
    border-bottom: 0px;
  }
  .contact-col:last-child{
    display: none;
  }
}

/* <<<<<< MEDIA QUERIES >>>>>> */

@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}


@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}


@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}


@-moz-keyframes linkAfterNav {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}
@-webkit-keyframes linkAfterNav {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}
@-o-keyframes linkAfterNav {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}
@keyframes linkAfterNav {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}
