@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

a {
  color: inherit;
  text-decoration: inherit;
}
html{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

/* ====== NAV ====== */

.nav {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 6;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}
.navTrigger {
    display: none;
}
.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Media qurey section */


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger > i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger > i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger > i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger > i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active > i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active > i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active > i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

.affix {
    padding: 0;
    background-color: #111;
}
.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
/* <<<<<< NAV END >>>>>> */

/* ====== START SECTION ====== */

#start-section{
  background-image: url('../images/background-mainSection_opt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
#backgroundImage {
  height: 100vh;
  display: flex;
}
#backgroundImage .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
}
#backgroundImage .title span {
  display: inline-block;
  font-size: 5vw;
  color: #efefef;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}
#backgroundImage .title span:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}
#backgroundImage .title span a {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #f7ca18;
}
#backgroundImage .title span a::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

/* <<<<<< START SECTION END >>>>>> */

/* ====== ABOUT ME ====== */

#carouselExampleCaptions{
  width: 40%;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.5);
}
.row{
  padding-right: 0 !important;
}
#about-section{
  background-color: #FFF;
  color: #0b0b0b;
  padding: 20px 20px;
  height: 100%;
}
#about-section .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
#about-section .content{
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}
#about-section .pic-me{
  width: 70%;
  border-radius: 40%;
}
.pic-me{
  box-shadow: 10px 4px rgba(0, 0, 0, 0.1);
}
#project-section{
  padding-left: 100px;
}
#project-section .title{
  justify-content: left;
  font-size: 30px;
}
#carouselExampleControls{
  margin-top: 20px;
}
.carousel-control-prev{
  background-color: royalblue;
}
.card-body{
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card-title{
  text-align: center;
}
.card{
  width: 80%;
}

/* <<<<<< ABOUT ME END >>>>>> */

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}


@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  .nav div.logo {
      margin-left: 15px;
  }
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      /*same background color of navbar*/
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: right;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      padding: 20px;
  }
  .nav div.media_button {
      display: block;
  }
}


@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}


@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}


@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
