@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}
a{
  text-decoration: none !important;
  color: var(--primary-white) !important;
}
h1{
 font-size: 2em !important;   
}
h2{
  font-size: 1.5em !important;
}
h3{
  font-size: 1.17em !important;
}


:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(39, 39, 39);
  --secondary-dark: rgb(53, 53, 53);
  --secondary-dark-transparent: rgb(53, 53, 53, 0.5);
  --primary-green: #5C996D;
  --primary-hover-green: #568864;
  --primary-red: #F2595B;


  --nav-height: 116px;
}

/********************* LOADER PAGE *********************************/


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


/**************************** NAVBAR ***************************************/

nav{
  z-index: 2;
  height: auto !important;
}

.logo{
  width: 100px;
  filter: invert(100%);
}

.setBackground{
  background-color: var(--primary-dark) !important;
  transition: all 0.5s ease;
}

/*----------MENU LINKS-----------*/
nav a.nav-link{
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
}

.nav-link{
  display: inline-block;
  position: relative;
}

.nav-link:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f9ab00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}


.nav-link:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/**************************** HEADER ***************************************/

.header-wraper{
  position: relative;
  background: url(images/header-wall.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info{
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1{
  color: var(--primary-white);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.main-info h3{
  color: var(--primary-orange);
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 5px 10px;
}

.info-rest{
  display: flex;
  flex-direction: column;
}

/*------------- TYPED TEXT -------------------*/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/*------------- HEADER MAIN BUTTON -------------------*/

.btn-main{
  text-transform: uppercase;
  border-radius: 7px;
  padding: 10px 12px 12px 12px;
  background-color: var(--primary-green);
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main:hover{
  text-decoration: none;
  background-color: var(--primary-hover-green);
  color: var(--primary-white);
  transition: .5s ease-in-out;
}

/*------------- PARTICLES JS -------------------*/


.tsparticles-canvas-el{
  position: absolute;
  background-color: var(--primary-dark);
  height: calc(100vh + var(--nav-height)) !important;
  width: 100vw;
  z-index: 1;

}

/************************** ABOUT ME ********************************/

#About-sect{
  height: calc(100vh + var(--nav-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.row-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#About-sect .content-aboutme{
  color: var(--primary-white);
  letter-spacing: 1.2px;
  text-align: justify;
  font-size: 1.3rem;
  height: 50%;
}
.name-aboutme{
  color: var(--primary-orange);
}
.interest-aboutme{
  color: var(--primary-green);
}
.other-aboutme{
  color: var(--primary-red);
}
.social-aboutme{
  display: flex;
  justify-content: center;
}
.linkedin-badge{
  width: 300px;
  height: 400px;
  background-color: #2e3a52;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px #485a80;
  transition: all 0.4s ease-in-out;
}
.linkedin-badge:hover{
  box-shadow: -20px -20px 20px #485a80;
  transform: translate(20px,20px);
  cursor: pointer;
}
.linkedin-image{
  width: 100px !important;
  height: 100px;
  margin-top: 20px;
  border-radius: 70px;
  box-shadow: 1px 1px 50px #161d2b;
}
.linkedin-name{
  color: rgb(180, 180, 180) !important;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  border-bottom: 1.5px solid #8b8b8b;
  width: 70%;
}
.linkedin-descr{
  color: rgb(180, 180, 180);
  padding: 0px 5px;
  text-align: center;
}
.linkedin-employ{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.linkedin-employ img{
  padding-top: 20px;
  width: 25px;
  vertical-align: middle;
}
.linkedin-employ span{
  color: #8b8b8b;
  padding-left: 10px;
}
.linkedin-studies{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.linkedin-studies img{
  padding-top: 20px;
  width: 25px;
  vertical-align: middle;
}
.linkedin-studies span{
  color: #8b8b8b;
  padding-left: 10px;
}

/****************** MEDIA QUERIES SCREEN SIZE ----- PORTRAIT ************************/

@media screen and (max-width: 992px) {
  .main-info{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-info h1{  
    font-size: 1.5rem !important;
  } 
  .typed-text{
    font-size: 1.3rem !important;
  }
  #About-sect .content-aboutme{
    letter-spacing: 0px;
    font-size: 1.2rem !important;
  }
  
}
@media screen and (max-width: 425px) {
  .navbar-brand img{
    width: 75px;
  }
  #About-sect .content-aboutme{
    padding-top: 10px !important;
  }
  .linkedin-badge{
    height: 260px;
    width: 260px;
  }
  .linkedin-badge:hover{
    transform: none;
    box-shadow: none;
  }
  .linkedin-employ, .linkedin-studies{
    display: none;
  }
}

/****************** MEDIA QUERIES SCREEN SIZE ----- LANDSCAPE ************************/

@media screen and (orientation: landscape) and (max-width: 992px){

  nav{
    background-color: var(--secondary-dark) !important;
  }
  .navbar, .navbar-collapse{
    flex-direction: column;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    height: 100vh;
  }
  .navbar-brand img{
    width: 50px !important;
  }
  .navbar {
    width: 28%;
    height: 100vh;
    border-radius: 0px 0px 15px 0px;
  }
  .main-info{
    flex-direction: row;
  }
  .info-name-comp{
    position: absolute;
    left: 20px;
    bottom: 25%;
  }
  .typed-text{
    font-size: 1.4rem;
  }
  .info-rest{
    position: absolute;
    right: 50px;
    bottom: 18%;
  }
  .info-rest .btn-main{
    margin-top: 16px;
  }

  #About-sect .content-aboutme{
    font-size: 1rem;
  }
  #About-sect .row{
    align-items: center;
  }
  .linkedin-image{
    width: 70px !important;
    height: 70px !important;
    margin: 10px 0px;
  }
  .linkedin-descr{
    display: none;
  }
  .linkedin-name{
    border-bottom: none;
    padding: 0;
  }
  .linkedin-badge{
    align-self: flex-start;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .linkedin-employ{
    display: none;
  }
  .linkedin-studies{
    display: none;
  }
}